.custom-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

.search{
    padding-left: 15px;
    font-family: Brass Mono;
    width: 100%;
    float: left
}
.subtitle{
    font-family: Brass Mono;
    float: right
}