.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

h2{
    padding: 10px 0px 10px 0px;
}

.title{
    font-family: 'Nervous';
    font-size: 38px;
}